/* https://colorhunt.co/palette/eeebddd8b6a4630000000000 */
/* https://colorhunt.co/palette/eeebdd8100006300001b1717 */
/* https://mycolor.space/gradient?ori=circle&hex=%2346484C&hex2=%23250A0A&sub=1 */
/* * {
  margin: 0;
  padding: 0;
  font-family: "Mochiy Pop P One", sans-serif;
}

body,
html {
  height: auto;
  margin: 0px auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  background-image: radial-gradient(
    circle,
    #46484c,
    #3a3941,
    #332933,
    #2d1a22,
    #250a0a
  );
  height: 100%;
}

.main-container {
  width: 70%;
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeebdd;
}

.logo {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
}

.title-logo {
  font-size: 2.5rem;
  color: #630000;
}

.company-logo {
  font-size: 1.15rem;
  color: #810000;
}

.main-content {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: row;
}

.right-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.right-content p {
  color: #810000;
  font-size: 1.15rem;
}

.right-content img {
  width: 600px;
  height: width;
  border: 1px solid #1b1717;
  margin: 0.25rem;
}

.left-content {
  display: flex;
  flex-direction: column;
}

.left-item {
  margin: 0.75rem 0.25rem 0.75rem 0.25rem;
}

.left-item p {
  color: #810000;
  font-size: 1.15rem;
  text-align: center;
}

.credit ul {
  list-style-position: inside;
}

.play {
  text-align: center;
}

.play button {
  background-image: radial-gradient(
    circle,
    #46484c,
    #3a3941,
    #332933,
    #2d1a22,
    #250a0a
  );
  color: #d8b6a4;
  position: relative;
  width: 50%;
  height: 3rem;
  border-radius: 50px;
}

.play button:hover {
  transform: translateY(-1px);
  color: #eeebdd;
}

.game-video {
  margin: 0 0.25rem 0.75rem 0.25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.game-video iframe {
  margin: auto;
}

iframe {
  width: 100%;
  height: 700px;
}

@media only screen and (max-width: 1440px) {
  .right-content img {
    width: 350px;
  }
  iframe {
    width: 100%;
    height: 400px;
  }
}

@media only screen and (max-width: 1024px) {
  .right-content img {
    width: 225px;
  }
  iframe {
    width: 100%;
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .right-content {
    display: none;
  }
}
*/

* {
  margin: 0;
  padding: 0;
  /* font-family: "Mochiy Pop P One", sans-serif; */
}

body,
html {
  background-size: contain;
  margin: 0px auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  background-image: radial-gradient(
    circle,
    #1c0d16,
    #180a11,
    #12060c,
    #0a0305,
    #000000
  );
  height: 100%;
}

.main-container {
  width: 45%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeebdd;
  justify-content: center;
}

.logo {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
  font-family: "Mochiy Pop P One", sans-serif;
}

.title-logo {
  font-size: 4rem;
  color: #630000;
}

.company-logo {
  font-size: 3.25rem;
  color: #810000;
}

.game-video {
  text-align: center;
}

.game-video iframe {
  padding-top: 50px;
  width: 80%;
  height: 700px;
}

.game-video p {
  padding: 20px;
}

.game-video p button {
  background-image: radial-gradient(
    circle,
    #46484c,
    #3a3941,
    #332933,
    #2d1a22,
    #250a0a
  );
  color: #eeebdd;
  position: relative;
  width: 70%;
  height: 5rem;
  border-radius: 50px;
  font-size: 2rem;
}

ul {
  display: table;
  margin: 0 auto;
}

.left-item {
  background-color: #d8b6a4;
  margin: 2.5rem 2rem 2.5rem 2rem;
  border-radius: 20px;
}

.left-item > span > p {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #810000;
  text-align: center;
}

.left-item > span {
  display: block;
  padding: 2.5rem 1.75rem 2.5rem 1.75rem;
}
.left-item > span > p {
  margin: 0.3rem 0 0.4rem 0;
  font-size: 2.5rem;
}

.left-item > span > span {
  /* text-align: center; */
  font-size: 1.75rem;
  font-family: "Source Sans Pro", sans-serif;
}
@media only screen and (max-width: 1440px) {
  .main-container {
    width: 60%;
    padding: 10px;
  }
}
@media only screen and (max-width: 1024px) {
  .title-logo {
    font-size: 3.5rem;
    color: #630000;
  }

  .company-logo {
    font-size: 2.15rem;
    color: #810000;
  }

  .main-container {
    width: 80%;
    padding: 10px;
  }
  .game-video iframe {
    padding-top: 15px;
    width: 94%;
    height: 440px;
  }
  .game-video p {
    padding: 20px;
  }

  .game-video p button {
    width: 70%;
    height: 3rem;
    border-radius: 50px;
    font-size: 1.25rem;
  }

  .left-item {
    margin: 25px 0px 25px 0px;
    border-radius: 20px;
  }

  .left-item > span > p {
    font-size: 2.5rem;
  }

  .left-item > span {
    padding: 1.25rem 1rem 1.25rem 1rem;
  }

  .left-item > span > p {
    margin: 0.5rem 0 0.5rem 0;
  }

  .left-item > span > span {
    /* text-align: center; */
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 425px) {
  .main-container {
    width: 100%;
    padding: 5px 2px 5px 2px;
  }

  .logo {
    padding: 0.5rem 0 0.5rem 0;
  }

  .title-logo {
    font-size: 2.5rem;
  }

  .company-logo {
    font-size: 1.15rem;
  }

  .game-video iframe {
    padding-top: 5px;
    width: 97%;
    height: 250px;
  }
  .game-video p {
    padding: 10px;
  }

  .game-video p button {
    width: 70%;
    height: 3rem;
    border-radius: 50px;
    font-size: 1.25rem;
  }

  .left-item {
    margin: 15px 0px 15px 0px;
    border-radius: 10px;
  }

  .left-item > span > p {
    font-size: 2rem;
  }

  .left-item > span {
    padding: 1rem 0.75rem 1rem 0.75rem;
  }

  .left-item > span > p {
    margin: 0.3rem 0 0.4rem 0;
  }

  .left-item > span > span {
    /* text-align: center; */
    font-size: 1.5rem;
  }
}
