/* https://colorhunt.co/palette/eeebddd8b6a4630000000000 */
/* https://colorhunt.co/palette/eeebdd8100006300001b1717 */
/* https://mycolor.space/gradient?ori=circle&hex=%2346484C&hex2=%23250A0A&sub=1 */
* {
  margin: 0;
  padding: 0;
  font-family: "Mochiy Pop P One", sans-serif;
}

body,
html {
  height: auto;
  margin: 0px auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  background-image: radial-gradient(
    circle,
    #46484c,
    #3a3941,
    #332933,
    #2d1a22,
    #250a0a
  );
  height: 100%;
}

.main-container {
  width: 50%;
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeebdd;
}

.logo {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
}

.title-logo {
  font-size: 2.5rem;
  color: #630000;
}

.company-logo {
  font-size: 1.15rem;
  color: #810000;
}

.main-content {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: row;
}

.right-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.right-content p {
  color: #810000;
  font-size: 1.15rem;
}

.right-content img {
  width: 400px;
  height: 400px;
  border: 1px solid #1b1717;
  margin: 0.25rem;
}

.left-content {
  display: flex;
  flex-direction: column;
}

.left-item {
  margin: 0.75rem 0.25rem 0.75rem 0.25rem;
}

.left-item p {
  color: #810000;
  font-size: 1.15rem;
  text-align: center;
}

.credit ul {
  list-style-position: inside;
}

.play {
  text-align: center;
}

.play button {
  background-image: radial-gradient(
    circle,
    #46484c,
    #3a3941,
    #332933,
    #2d1a22,
    #250a0a
  );
  color: #d8b6a4;
  position: relative;
  width: 50%;
  height: 3rem;
  border-radius: 50px;
}

.play button:hover {
  transform: translateY(-1px);
  color: #eeebdd;
}
